@media (min-width: 460px) {
    .hide-mobile {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .artwork-images {
        justify-content: center;
        flex-direction: row;
    }

    .evo-chain {
        flex-direction: row;
    }

    .abilities-row {
        display: table-row;
    }

    .sidebar {
        width: 320px;
    }
}

@media (min-width: 620px) {
    .hide-tab-text {
        display: block;
    }
}

@media (min-width: 768px) {
    .nav-mobile-trigger {
        display: none;
    }

    .nav-desktop-only {
        display: block;
    }

    .damage-calc-columns {
        flex-direction: row;
    }

    .damage-calc-side {
        flex: 1;
    }
}