@media (min-width: 460px) {
    .hide-mobile {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .artwork-images {
        justify-content: center;
        flex-direction: row;
    }

    .evo-chain {
        flex-direction: row;
    }
}

@media (min-width: 620px) {
    .hide-tab-text {
        display: block;
    }
}